@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{font-family: 'Poppins';}
.bodyy{  
    background:linear-gradient(256.47deg, #5E2AB3 2.64%, #161E6C 140.46%);
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
   
}
.bookmark{color:'white';
    position:"absolute"; 
    right:"4rem"; 
    bottom:'2rem';
}